*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h1{
    margin: 20px;
    font-size: 2rem;
    color: #333;
}
h2, h3, h4, h5, h6{
    margin: 20px;
    font-size: 1.5rem;
    color: #444;
}
p{
    margin: 20px;
    font-size: 1.2rem;
    color: #555;
    max-width: 25%;
}
#header{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #84c905;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
#header #links{
    display: flex;
    justify-content: right;
    
}
#header img{
    width: 3rem;
    height: 3rem;
    
}
#header img:hover{
    scale: 1.1;
    transition: all 0.3s ;
}

#alterarTema{
    width: 50px;
    height: 30px;
    background-color: #f0f0f0;
    border: none ;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ;
}
#alterarTema:hover{
    width: 60px;
    background-color: #ddd;
    scale: 1.1;
}
#links a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: all 0.3s ;
}
#links a:hover{
    color: #ddd;
    scale: 1.1;
}
#links a:active{
    color: #bbb;
    scale: 0.9;
}
